[submodule "nix/dotfile/zsh/plugins/oh-my-zsh"]
	path = nix/dotfile/zsh/plugins/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "nix/dotfile/vim/plugins/vim-slime"]
	path = nix/dotfile/vim/plugins/vim-slime
	url = https://github.com/jpalardy/vim-slime.git
[submodule "nix/dotfile/vim/plugins/vim-pathogen"]
	path = nix/dotfile/vim/plugins/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "nix/dotfile/vim/plugins/slimv"]
	path = nix/dotfile/vim/plugins/slimv
	url = https://github.com/kovisoft/slimv.git
