[submodule "nix/dotfile/zsh/plugins/zsh-syntax-highlighting"]
	path = nix/dotfile/zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "nix/dotfile/zsh/plugins/zsh-autosuggestions"]
	path = nix/dotfile/zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "nix/dotfile/zsh/plugins/oh-my-zsh"]
	path = nix/dotfile/zsh/plugins/oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule "nix/dotfile/vim/plugins/pathogen"]
	path = nix/dotfile/vim/plugins/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "nix/dotfile/vim/plugins/vim-slime"]
	path = nix/dotfile/vim/plugins/vim-slime
	url = https://github.com/jpalardy/vim-slime.git

